/* ======================================================
   FLOATING STICKERS
   Decorative labels placed around the hero section
====================================================== */
.sticker {
  position: absolute;
  /* Removes element from normal layout flow
     so we can position it exactly where we want */

  padding: 0.6rem 1.2rem;
  /* Controls sticker size */

  border: 3px solid black;
  font-weight: bold;
  box-shadow: 5px 5px 0 black;
  animation: float 4s ease-in-out infinite;
}


/* Individual sticker positions */
.sticker-html_css {
  top: 120px;
  left: 8%;
  background: #ffd91a;
}

.sticker-java_script {
  top: 200px;
  right: 8%;
  background: #13daec;
}

.sticker-ruby {
  bottom: 120px;
  left: 12%;
  background: #ea2e6d;
  color: white;
}

.sticker-db {
  bottom: 180px;
  right: 12%;
  background: #ffd91a;
}


/* Decorative spinning star */
.star-deco {
  position: absolute;
  top: 120px;
  right: 30%;
  font-size: 3rem;
  animation: spin 10s linear infinite;
}


/* Tablet sticker adjustments */
@media (max-width: 980px) {
  .sticker {
    font-size: 0.85rem;
    padding: 0.45rem 0.8rem;
    box-shadow: 4px 4px 0 black;
  }

  .sticker-html_css { top: 85px; left: 3%; }
  .sticker-java_script { top: 150px; right: 3%; }
  .sticker-ruby { bottom: 70px; left: 5%; }
  .sticker-db { bottom: 120px; right: 5%; }

  .star-deco {
    right: 18%;
    top: 80px;
    font-size: 2.2rem;
  }
}


/* Mobile: hide decorations for better readability */
@media (max-width: 640px) {
  .sticker,
  .star-deco {
    display: none;
  }
}
